 <div class="overlay hidden"></div>
 <footer>
     <div class="footer container">
        <% if(user._id){ %>
        <ul class="flex foot-head" aria-label="sub navigation">
            <li><a href="/home">Home</a> </li>
            <li><a href="/home/chartPage">Chart</a> </li>
            <li><a href="/profile">Profile</a> </li>
            <li><a href="/contact">contact</a> </li>
        </ul>
        <% } %> 
        <p>If interest you can see more work here </p>
        <ul class="social-links flex foot-head" aria-label="nav social links">
            <li><a href="https://github.com/adilth" aria-label="github" target="_blank"><i class="fab fa-github" aria-hidden="true"></i></a></li>
            <li><a href="https://twitter.com/aadilth" aria-label="twitter"><i class="fab fa-twitter" aria-hidden="true"></i></a></li>
            <li><a href="https://www.linkedin.com/in/adil-tahiri/" target="_blank"
               aria-label="open link to adil view's linkedin page."><i class="fab fa-linkedin" aria-hidden="true"></i></a></li>
        </ul>
        <p>Copyright © 2022 <span class="logo-name">POCKET PROCESS</span> All rights reserved.</p>
     </div>
 </footer>

 <script nonce="dfr785gh78a1q" type="text/javascript" src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js">
 </script>
 <script nonce="dfr785gh78a1q" type="text/javascript" src="https://cdn.jsdelivr.net/npm/jquery@3.6.1/dist/jquery.min.js"></script>
 <script nonce="dfr785gh78a1q" type="text/javascript" src="/js/app.js"></script>
 </body>

 </html>