<%- include('partials/header.ejs') -%>
<section class=" bg-image gradient-custom-3 p-5">
    <div class="mask d-flex align-items-center">
        <div class="container h-100">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col-12 col-md-9 col-lg-7 col-xl-6">
                    <div class="card">
                        <div class="card-body p-5">
                            <h2 class="text-uppercase text-center text-font">Contact Us</h2>
                            <p class="contact-head">if you have an issue in website or want to add new feature or want to contact with us please fill the field</p>
                            <% if (locals.messages.errors) { %>
                            <div class="alert alert-danger"><%= messages.errors %></div>
                            <% } else if (locals.messages.info) { %>
                            <% messages.info.forEach( el => { %>
                            <div class="alert alert-info"><%= el.msg %></div>
                            <% }) %> <% } %>
                            <form action="/contact" method="POST">
                                <div class="form-outline mb-4">
                                    <label class="form-label" for="contactName">Name</label>
                                    <input type="text" id="contactName" class="form-control form-control-lg" name="name" />
                                </div>
                                <div class="form-outline mb-4">
                                    <label class="form-label" for="UEmail">Email</label>
                                    <input type="email" id="email" class="form-control form-control-lg" name="email" />
                                </div>

                                <div class="form-outline mb-4">
                                    <label class="form-label" for="subject">Subject</label>
                                    <input type="text" id="subject" class="form-control form-control-lg" name="subject" />
                                </div>

                                <di class="form-outline mb-4">
                                    <label class="form-label" for="Message">Message</label>
                                    <textarea type="text" id="Message" class="form-control form-control-lg" name="message"></textarea>
                        </div>
                        <p class="text-center text-muted mb-3">Please make sure you file
                            all field and with current info? </p>
                        <div class="d-flex justify-content-around">
                            <div class=" menu-btn">
                                <button type="submit" class="btn btn-primary btn-lg mb-3">Send</button>
                            </div>
                        </div>

                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
</section>
<%- include('partials/footer.ejs') -%>