<%- include("./partials/header.ejs"); %>

<main class=" image-cont">
   <div class="container full">
      <div class="grid-center">
         <div>
             <h1>Organize your
            work and life, finally.</h1>
         </div>
        
         <p>Our intuitive money tracking tool helps you monitor your spending habits, providing insights on where and how much you spend. Visit our Pocket Process to take control of your finances today!</p>
         <a href="/user/signup" class="btn btn-second"> Get Started</a>
      </div>
   </div>


</main>


<%- include("partials/footer"); %>