<%- include("./partials/header.ejs"); %>

<main class=" image-cont">
   <div class="container full">
      <div class="grid-center">
         <h1>Organize your
            work and life, finally.</h1>
         <p>Become focused, organized, and calm with your Money where is goes </p>
         <a href="/user/signup" class="btn btn-second"> Get Started</a>
      </div>
   </div>


</main>


<%- include("partials/footer"); %>