<%- include('partials/header.ejs') -%>

<section class=" bg-image gradient-custom-3 p-5">
      <!-- <div class="head-tetle flex">
            <h2 class="page-title"></h2>
      </div> -->
      <div class="mask d-flex align-items-center">
            <div class="container h-100">
                  <div class="row d-flex justify-content-center align-items-center h-100">
                        <div class="col-12 col-md-9 col-lg-7 col-xl-6">
                              <div class="card">
                                    <div class="card-body p-5">
                                          <h2 class="text-uppercase text-center mb-5 text-font">Add New Spends</h2>
                                           <% if (locals.messages.errors) { %>
                                                <div class="alert alert-danger"><%= messages.errors%></div>
                                             <% } %> 
                                          <form action="/home/newTask" method="POST">
                                                <div class="form-outline mb-4">
                                                      <label class="form-label" for="form3Example1cg">Where Spend
                                                            it</label>
                                                      <input type="text" id="form3Example1cg"
                                                            class="form-control form-control-lg" name="task" maxlength="30"/>
                                                      
                                                </div>
                                                <div class="form-outline mb-4">
                                                      <label class="form-label" for="form3Example3cg">How Much</label>
                                                      <input type="number" id="form3Example3cg"
                                                            class="form-control form-control-lg" name="spend" maxlength="20"/>
                                                </div>

                                                <div class="form-outline mb-4">
                                                      <label class="form-label" for="form3Example4cg">More Info</label>
                                                      <input type="text" id="form3Example4cg"
                                                            class="form-control form-control-lg" name="info" maxlength="70"/>
                                                </div>

                                                <div class="form-outline mb-4">
                                                      <label class="form-label" for="form3Example4cdg">Date spend
                                                            At</label>
                                                      <input type="date" id="form3Example4cdg"
                                                            class="form-control form-control-lg" name="spendAt" />
                                                </div>
                                                <p class="text-center text-muted mt-4 mb-3">Please make sure you file
                                                      all field and with current info? </p>
                                                <div class="d-flex justify-content-around">
                                                      <div class=" menu-btn">
                                                            <button type="submit" aria-label="save the spend"
                                                                  class="btn btn-primary btn-lg">Save</button>
                                                            <button type="button" class="btn btn-primary btn-lg cancel" aria-label="cancel the add"
                                                                  >Cancel</button>
                                                      </div>
                                                </div>

                                          </form>

                                    </div>
                              </div>
                        </div>
                  </div>
            </div>
      </div>
</section>

<%- include('partials/footer.ejs') -%>