/* @import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700;900&display=swap"); */
:root {
  --main-color: #df4575;
  --card-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px,
    rgba(0, 0, 0, 0.23) 0px 6px 6px;
  --dark-color: #252f3b;
  --second-bg-color: #1b2533;
  --light-color: #fff;
  --light-color-2: #cacaca;
  --second-font-color: rgb(33, 205, 146);
  --second-font-color-hover: #1ca475;
  --margin-3: 30px;
  --margin-4: 40px;
  --nav-side-bar-margin-left: 20px;
  --border-radius: 10px;
  --font-size-xs: 16px;
  --font-size-medium: 28px;
  --font-size-large: 48px;
}

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
card {
  width: 400px;
  background-color: var(--light-color);
  border: none;
  border-radius: 12px;
}
.bg-image {
  background-image: linear-gradient(
    to right,
    rgba(27, 37, 51, 0.871),
    rgba(40, 120, 92, 0.78)
  );
  background-size: cover;
  min-width: 100%;
  min-height: 100vh !important;
}
ol,
ul {
  padding-left: 0rem;
}
body,
html {
  /* height: 100%; */
  width: 100%;
  /* position: relative; */
  min-height: 100vh;
  background-color: var(--dark-color);
  display: flex;
  flex-direction: column;
  scroll-behavior: smooth;
  font-family: "Roboto", sans-serif;
}
@font-face {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  src: local("Pacifico Regular"), local("Pacifico-Regular"),
    url(https://fonts.gstatic.com/s/pacifico/v12/FwZY7-Qmy14u9lezJ-6H6MmBp0u-.woff2)
      format("woff2");
  font-display: swap;
}

a {
  text-decoration: none;
  color: var(--second-font-color);
  transition: 0.3s ease-in-out;
}
a:hover {
  color: var(--second-font-color-hover);
}
li {
  list-style: none;
}
ul {
  margin-bottom: 0;
}
img,
canvas,
svg,
video,
picture {
  display: block;
  max-width: 100%;
}
button,
input,
textarea,
select {
  font: inherit;
}
p,
h1,
h2,
h3,
h4,
h5 {
  overflow-wrap: break-word;
}
h1,
h2,
h3,
h4,
h5 {
  line-height: 1.1;
  hyphens: auto;
}
/* btn */
.btn-outline-success {
  color: var(--second-font-color);
  border-color: var(--second-font-color);
}
.btn-outline-success:hover {
  color: var(--light-color);
  background-color: var(--second-font-color-hover);
}
.btn-second {
  background-color: var(--second-font-color-hover);
  color: var(--light-color);
  font-size: 1.1em;
  font-weight: bold;
  padding: 0.7em;
  transition: 0.3s ease-in-out;
}
/* header style*/
header {
  background-color: var(--second-bg-color);
}
.header-cont {
  max-width: 1500px;
  display: grid;
  grid-template-columns: 3fr 9fr 1fr;
  justify-content: center;
  padding: 1em 1.5em;
  position: relative;
  align-items: center;
}
.mobile-nav-toggle {
  display: none;
}
.space-mg {
  padding-block: 0.8rem;
}
.nav-links .right {
  margin-left: auto;
}
.nav-links li {
  padding-left: 1em;
}
.inputs-group > .form-control {
  border-top-left-radius: 7px;
  border-bottom-left-radius: 7px;
  border: 1px solid #e3e6ed;
  width: 220px !important;
}
.margin {
  margin-left: auto;
}
.logo-head {
  width: 165px;
}
.logo-head img {
  width: 100%;
  height: 100%;
}
input.form-control:focus {
  box-shadow: none;
  border: 1.5px solid #e3e6ed;
  background-color: #f7f8fd;
  letter-spacing: 1px;
}
.input-group-append {
  margin-left: -1px;
}
.mg-ft {
  margin-left: 0.8rem;
}
.profile-img {
  width: 2.5rem;
  height: 2.5rem;
  overflow: hidden;
  border-radius: 50%;
  justify-self: flex-end;
  align-self: center;
  cursor: pointer;
  margin-left: 0.5em;
}
.profile-img img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  transform: scale(1.2);
  cursor: pointer;
}
.profile-link {
  position: absolute;
  background: var(--dark-color);
  box-shadow: var(--card-shadow);
  top: 100%;
  right: 5%;
  width: 320px;
  z-index: 10;
  max-height: 0px;
  overflow: hidden;
  transition: max-height 0.4s ease-in-out;
}
.nav-links li a {
  font-weight: bold;
  font-size: 1.15rem;
}
.open-menu {
  max-height: 400px;
}
.close-menu {
  max-height: 0px;
}
.sub-menu {
  margin: 0.6em;
  padding: 0.9rem;
}
.user-info {
  display: flex;
  align-items: center;
}
.user-info h3 {
  font-weight: bold;
  font-size: 1.35rem;
  color: var(--second-font-color);
}
.user-info img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 0.9em;
}
.profile-link .sub-menu hr {
  border: 0;
  height: 2px;
  width: 100%;
  background: rgb(145, 145, 145);
  margin: 15px 0 10px;
}
.sub-menu-link {
  display: flex;
  align-items: center;
  margin: 0.6rem 0;
  padding: 0 0.9rem;
}
.sub-menu-link p {
  width: 100%;
  margin-bottom: 0;
}
.sub-menu-link i {
  font-size: 1.15rem;
  background: var(--second-bg-color);
  border-radius: 50%;
  padding: 8px;
  margin-right: 0.95rem;
}
.sub-menu-link span {
  font-size: 1.25rem;
  transition: transform 0.5s;
}
.sub-menu-link:hover span {
  transform: translateX(5px);
}
@media only screen and (max-width: 1200px) {
  .header-cont {
    grid-template-columns: 3fr 6fr 0.5fr;
    padding: 1em 1.1em;
  }
  .logo-head {
    width: 160px;
  }
  .inputs-group > .form-control {
    width: 170px !important;
  }
}

@media only screen and (max-width: 750px) {
  .profile-img {
    width: 2.4rem;
    height: 2.4rem;
  }
  .header-cont {
    grid-template-columns: 3fr 1fr 0.5fr;
    padding: 0.8em 0.7em;
  }
  .nav-links .right {
    margin-left: 0;
  }
  .primary-navigation {
    position: fixed;
    top: 0;
    left: 30%;
    right: 0;
    bottom: 0;
    flex-direction: column;
    padding: 7rem 1.5rem;
    background: hsl(0, 0%, 19%, 0.7);
    z-index: 20;
    transform: translateX(100%);
    transition: transform 0.3s ease;
  }
  @supports (gap: 2rem) {
    .primary-navigation {
      gap: 2em;
    }
  }
  .primary-navigation[data-visible="true"] {
    transform: translateX(0%);
  }
  .profile-img {
    margin-right: 3rem;
  }
  @supports (backdrop-filter: blur(0.5rem)) {
    .primary-navigation {
      background: hsl(0, 0%, 100%, 0.1);
      backdrop-filter: blur(0.5rem);
    }
  }
  .mobile-nav-toggle {
    display: block;
    position: absolute;
    width: 1.6rem;
    height: 1.6rem;
    background-image: url(../images/menu-icon.svg);
    background-size: cover;
    filter: invert(1);
    top: 1.6rem;
    z-index: 999;
    right: 1.5rem;
  }
  @supports (aspect-ratio: 1) {
    .mobile-nav-toggle {
      aspect-ratio: 1;
    }
  }
  .mobile-nav-toggle[aria-expanded="true"] {
    background-image: url(../images/close-mobile.svg);
  }
}
@media only screen and (max-width: 600px) {
  .header-cont {
    grid-template-columns: 3fr 0.5fr 0.5fr;
  }
  .logo-head {
    width: 135px;
  }
  .inputs-group > .form-control {
    width: 140px !important;
    padding: 0.4em;
  }
  .mobile-nav-toggle {
    right: 0.9rem;
    top: 1.2rem;
  }
}
/*general style*/
.size-grid {
  display: grid;
  grid-template-columns: 2fr 10fr;
  flex-direction: column;
}
.sidebar {
  height: auto;
  padding: 1.5rem;
  background-color: var(--second-bg-color);
  color: var(--light-color);
}
.btn.chevron {
  padding: 0 0.5rem;
}
.logo {
  height: 60px;
  width: 60px;
  margin-top: var(--margin-3);
  margin-bottom: 150px;
  margin-left: var(--nav-side-bar-margin-left);
}

.dashboard {
  color: var(--light-color);
  min-height: calc(100vh - 63px - 144px);
  background-color: var(--dark-color);
  border-bottom-right-radius: var(--border-radius);
  padding: 1.5rem;
}
.content-task {
  flex: 2;
}
.page-title {
  margin: 1.5rem auto;
}
.main-header {
  display: flex;
  justify-content: space-between;
}
.linkNewAdd {
  align-self: center;
}
.linkNewAdd .fosz {
  background: var(--light-color);
  width: max-content;
  padding: 0.5em;
  color: #066efd;
  border-radius: 5px;
}

.fosz {
  font-weight: bold;
  font-size: 1.3rem;
  text-decoration: none;
}
.fosz .fa {
  margin-left: 0.2rem;
}
.months {
  font-size: 1rem;
}
.weeks {
  margin-bottom: 0.3rem;
}
.weeks a {
  border: 0.15px solid var(--second-font-color-hover);
  padding: 0.3rem;
  color: var(--light-color-2);
  margin-right: 0.15rem;
}
@media only screen and (max-width: 1200px) {
  .size-grid {
    grid-template-columns: 2fr 10fr;
  }
  .sidebar {
    padding: 1rem;
  }
  .logo {
    height: 40px;
    width: 40px;
  }
  .dashboard {
    padding: 1.2rem;
  }
}
@media only screen and (max-width: 600px) {
  .size-grid {
    grid-template-columns: 1fr;
  }
  .dashboard {
    padding: 1rem;
  }
}
/*welcome page */
.image-cont {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.7)),
    url("../images/money-index3.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  min-height: 90vh;
  padding: 0.9em 6em;
  color: var(--light-color);
}

.container.full {
  width: 100%;
  height: 100%;
  margin-top: 4em;
}

.grid-center {
  width: 50%;
  margin: 0 auto;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: center; */
}

.grid-center h1 {
  margin-bottom: 1.6rem;
}
.grid-center p {
  font-size: 0.95rem;
  color: var(--light-color-2);
}
.grid-center a {
  align-self: center;
}
@media only screen and (max-width: 1008px) {
  .image-cont {
    padding: 0.9em 3.7em;
  }
  .grid-center {
    width: 65%;
  }
}
@media only screen and (max-width: 829px) {
  .image-cont {
    padding: 0.9em 3em;
  }
  .grid-center {
    width: 80%;
  }
}
@media only screen and (max-width: 708px) {
  .image-cont {
    padding: 0.9em 2.5em;
  }
  /* index page */
  .grid-center {
    width: 92%;
  }
}

@media only screen and (max-width: 600px) {
  /* index page */
  .grid-center {
    width: 100%;
  }
  .image-cont {
    padding: 0.9em 1em;
  }
  .grid-center a {
    align-self: self-start;
  }
  .fosz {
    font-size: 1.1rem;
  }
  .sidebar {
    padding: 1em;
  }
  .form.flex {
    flex-direction: row;
  }
  .form-cont.flex {
    flex-direction: row;
  }
  .date-input {
    margin-left: 0.4em;
    padding: 0.2rem;
    width: 80px;
  }
}
/* main content */
.content-task .card {
  width: max-content;
  padding: 1.3em;
}
.total {
  color: rgb(49, 161, 49);
  font-weight: bold;
  font-size: 1.4rem;

  margin-bottom: 0;
}
.form {
  gap: 1rem;
  margin-bottom: 2rem;
  flex-direction: column;
}
.form-cont {
  flex-direction: column;
}
.form-cont label {
  font-weight: bold;
  font-size: 1.05rem;
}
.date-input {
  padding: 0.4rem;
  border-radius: 5px;
}
.large {
  font-weight: bold;
  font-size: 1.1em;
}
.btn i {
  color: var(--light-color);
  font-size: 0.8rem;
}
.form-cont {
  display: flex;
  gap: 1.5rem;
}
.title-head {
  margin-top: 1.9rem;
  margin-bottom: 1.6rem;
  font-weight: bold;
  text-align: center;
}
.main-content {
  gap: 1.7rem;
}

.flex-size {
  gap: 1.7rem;
  flex-wrap: wrap;
  margin-bottom: 1.5rem;
}
.flex-size > * {
  flex: 1 0 30%;
}
.pd-3 {
  padding: 1rem;
}
.text-muted-day {
  color: var(--light-color-2);
  font-size: 0.95rem;
  text-align: center;
}
/* style cards */
.card {
  background-color: var(--second-bg-color);
  border-radius: 10px;
  box-shadow: 10px 10px 10px #151d28;
}
.flex {
  display: flex;
}
.gap-1-5 {
  gap: 1.5em;
}
.between-space {
  justify-content: space-between;
}
.card .card-link {
  background-color: transparent;
  color: var(--second-font-color);
  border: none;
  text-decoration: underline;
}
.card-money {
  font-weight: bold;
  font-size: 1.1rem;
  margin-bottom: 0;
}
@media (max-width: 1099px) {
  .main-content {
    gap: 1.4rem;
  }
}
/* style page numbers*/
.pages {
  margin: 1.2rem auto;
}
.pages ul {
  display: flex;
  justify-content: center;
}
.pages ul li {
  font-size: 1.1rem;
  font-weight: bold;
  padding: 0.7rem;
  border: 1px solid #111;
  border-radius: 5px;
  margin-left: 0.6rem;
}
/* add task page */
.text-font {
  color: var(--light-color);
}
.form-outline .form-label {
  color: var(--light-color);
}
/* profile style */

.main-profile {
  padding-top: 1.5rem;
  position: relative;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--dark-color);
  color: var(--light-color);
}
.main-profile .card {
  padding: 1.2em;
}
.change-pass {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.user-form {
  width: 600px;
}
.card-total {
  font-size: 1.4rem;
}
.user-info label {
  font-size: 1.1rem;
}
.card .alert .btn-close {
  color: var(--dark-color);
  font-size: 1rem;
}
/* model */
.modal {
  position: fixed;
  display: block;
  width: 450px;
  padding: 1rem;
  height: max-content;
  z-index: 9999;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  transition: all 0.2s ease-in-out;
  background-color: var(--dark-color);
  color: var(--light-color);
  border: 1px solid var(--light-color-2);
  border-radius: 15px;
}
.hidden {
  transform: translate(-50%, -50%) scale(0);
}
.modal .flex-end {
  display: flex;
  align-items: center;
  justify-content: end;
}
.model-content {
  font-size: 1.2em;
}
.user-form input {
  padding: 0.6rem 1rem;
  border: 1px solid var(--light-color-2);
  border-radius: 6px;
  font-size: 1rem;
}

.modal p {
  font-size: 1.1rem;
}

button {
  cursor: pointer;
  border: none;
  font-weight: bold;
}
.modal .btn-close {
  transform: translate(9px, -15px);
  padding: 0.5rem 0.7rem;
  border-radius: 50%;
  font-weight: bold;
  font-size: 1.5em;
  filter: invert(100%);
}
.btn-open {
  color: #066efd;
  font-size: 1.1rem;
  text-decoration: underline;
  font-weight: bold;
}
.btn-modal {
  display: inline-block;
  padding: 0.7rem 1.3rem;
  font-weight: 700;
  background-color: black;
  color: var(--light-color);
  border-radius: 5px;
  text-align: center;
  font-size: 1em;
  margin-top: 0.5rem;
}
.form-group {
  padding: 0.4rem 0.2em;
  margin-inline: 0.6rem;
}
.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  user-select: none;
  background: rgba(0, 0, 0, 0.5);
  z-index: 10;
}
@supports (backdrop-filter: blur(3px)) {
  .overlay {
    backdrop-filter: blur(0.5rem);
  }
}
.overlay.hidden {
  display: none;
}
@media only screen and (max-width: 1099px) {
  .btn-close {
    transform: translate(7px, 10px);
  }
  .modal {
    width: 370px;
  }
}
@media only screen and (max-width: 600px) {
  .main-profile .card {
    padding: 0.9em;
  }
  .user-form {
    width: 92%;
  }
  .btn-close {
    transform: translate(0, 0);
    width: 0;
    height: 0;
  }
  .modal {
    width: 90%;
  }
}
@media only screen and (max-width: 450px) {
  .user-form .form-group.flex {
    flex-direction: column;
  }
  .modal {
    width: 95%;
  }
}
/* chart page */
.charset {
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.charset .title-head {
  margin-top: 2rem;
  margin-bottom: 4rem;
}
.text-chart {
  margin-top: 1rem;
}
.cont-chart {
  position: relative;
  margin-top: 2rem;
}
.select-group {
  display: flex;
}
.select-group .date {
  color: #666;
}
.select-wrapper {
  width: 180px;
  margin-left: 50px;
  position: relative;
  display: flex;
  align-items: center;
}

.select-wrapper::before {
  position: absolute;
  content: "▼";
  font-size: var(--font-size-xs);
  right: 20px;
  color: var(--second-font-color);
}
#datepicker {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  border: none;
  outline: none;

  width: 100%;
  height: 40px;
  padding-left: 20px;
  border-radius: 20px;
  background-color: var(--second-bg-color);
  font-size: var(--font-size-xs);
  color: var(--first-font-color);
}

#datepicker option {
  color: #666;
  background-color: transparent;
}

.dashboard-cards {
  display: grid;
  width: 100%;
  grid-template-columns: 1fr 1fr 1fr;
  margin: 0 var(--dashboard-margin);
  padding-bottom: 2.5rem;
  padding: 2em 2em;
  gap: 2em;
}
.cont-chart.dashboard-cards {
  grid-template-columns: 1fr 1fr;
}
.card.card-flex {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0.7rem 1.5em;
}
.number {
  font-size: 1.8rem;
  font-weight: bold;
  color: var(--second-font-color);
}
.card-icon i {
  font-size: 1.8rem;
  color: var(--second-font-color);
}
.card-name {
  font-weight: bold;
}
.pr-foot {
  display: flex;
  justify-content: center;
  padding: 1.2em 0;
}
.pr-foot a {
  /* padding: auto 0.5rem; */
  padding-left: 0.3rem;
  padding-right: 0.3rem;
}
@media only screen and (max-width: 1200px) {
  .dashboard-cards {
    grid-template-columns: 1fr 1fr;
    padding: 1.5em 1em;
    gap: 1.5em;
  }
}
@media only screen and (max-width: 800px) {
  .dashboard-cards {
    grid-template-columns: 1fr;
  }
  .cont-chart.dashboard-cards {
    grid-template-columns: 1fr;
  }
  .col-6 {
    width: 70%;
  }
  .p-5 {
    padding: 2rem !important;
  }
}
@media only screen and (max-width: 640px) {
  .select-wrapper {
    margin-left: 1rem;
  }
  .dashboard-cards {
    grid-template-columns: 1fr;
    padding: 1.5em 0.5em;
  }
  .content-task .card {
    padding: 1em;
  }
  .col-6 {
    width: 90%;
  }
  .p-5 {
    padding: 1rem !important;
  }
  .chart-card {
    height: 200px !important;
  }
}
/* forget page */
.forget-cont {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.forget-text {
  margin-bottom: 2.5rem;
  font-size: 1.2rem;
}
.col-6.card {
  padding: 1.6em;
}
.forget-form {
  text-align: center;
}
.forget-form label {
  margin-right: 1rem;
  font-size: 1.1rem;
}
.forget-form input {
  border: none;
  padding: 0.4em;
  border-radius: 0.35rem;
  margin-right: 0.7em;
}
.otherStuff {
  margin-top: 1.7rem;
}
.forget-form .grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.forget-form .btn.btn-outline-success {
  margin-top: 1.2rem;
  font-size: 1.2rem;
  padding: 0.85rem;
}
.forget-center {
  margin-top: 0.7rem;
}
.forget-center a:hover {
  text-decoration: underline;
}
/* contact */
.contact-head {
  color: var(--light-color-2);
  margin: 1em 0;
}
/* footer style */
footer {
  margin-top: auto;
  background-color: #222;
}
.footer {
  padding: 1.6rem;
  text-align: center;
  color: var(--light-color);
}
.foot-head {
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 0.6em;
}
.foot-head > * {
  padding-left: 1em;
}
@supports (gap: 2em) {
  .foot-head {
    gap: 1em;
  }
  .foot-head > * {
    padding-left: 0;
  }
}
.foot-head a {
  font-size: 1.05rem;
  cursor: pointer;
  text-decoration: underline;
}
.footer .social-links i {
  color: var(--light-color-2);
  font-size: 1.4rem;
  transition: all 200ms ease-in-out;
}
.footer .social-links i:hover {
  color: rgb(235, 235, 235);
}
.footer .logo-name {
  font-weight: bold;
  color: var(--second-font-color);
}
@media (prefers-reduced-motion: reduce) {
  html,
  body {
    scroll-behavior: auto;
  }
  *,
  *::after,
  *::before {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto;
  }
}

@media (min-width: 1400px) {
  .container,
  .container-lg,
  .container-md,
  .container-sm,
  .container-xl,
  .container-xxl {
    max-width: 1420px !important;
  }
}

@media (max-width: 370px) {
  .form.flex {
    flex-direction: column;
  }
  .logo-head {
    width: 120px;
  }
  .primary-navigation {
    padding: 5em 1em;
  }
  .footer {
    padding: 1.5rem;
  }
}
@media (max-width: 340px) {
  .main-header {
    flex-direction: column;
    gap: 1.5em;
    align-items: center;
  }
  .profile-link {
    right: 0;
    width: 100%;
  }
  .nav-links li {
    padding-left: 0em;
  }
  .footer {
    padding: 1rem;
  }
}
@media (max-width: 320px) {
  .form-cont.flex {
    flex-direction: column;
  }
  .primary-navigation {
    left: 20%;
    padding: 5em 0.5em;
  }
  .flex.justify-content-around.space-mg {
    flex-wrap: wrap;
    gap: 0.7em;
  }
}
@media (min-width: 576px) {
  .container,
  .container-sm {
    max-width: 100%;
    padding-right: var(--bs-gutter-x, 1rem);
    padding-left: var(--bs-gutter-x, 1rem);
  }
}
@media (min-width: 768px) {
  .container,
  .container-md,
  .container-sm {
    max-width: 100%;
    padding-right: var(--bs-gutter-x, 1.5rem);
    padding-left: var(--bs-gutter-x, 1.5rem);
  }
}
