@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700;900&display=swap");
:root {
  --main-color: #df4575;
  --card-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px,
    rgba(0, 0, 0, 0.23) 0px 6px 6px;
  --dark-color: #252f3b;
  --second-bg-color: #1b2533;
  --light-color: #fff;
  --second-font-color: #21cd92;
  --second-font-color-hover: #1ca475;
  --margin-3: 30px;
  --margin-4: 40px;
  --nav-side-bar-margin-left: 20px;
  --border-radius: 10px;
  --font-size-xs: 16px;
  --font-size-medium: 28px;
  --font-size-large: 48px;
}

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
card {
  width: 400px;
  background-color: var(--light-color);
  border: none;
  border-radius: 12px;
}
.bg-image {
  background-image: linear-gradient(
      to right,
      rgba(27, 37, 51, 0.871),
      rgb(28, 164, 117, 0.7)
    ),
    url("https://mdbcdn.b-cdn.net/img/Photos/new-templates/search-box/img4.webp");
  background-size: cover;
  min-width: 100%;
  min-height: 100vh !important;
}
ol,
ul {
  padding-left: 0rem !important;
}
body,
html {
  /* height: 100%; */
  width: 100%;
  /* position: relative; */
  min-height: 100vh;
  background-color: var(--dark-color);
  display: flex;
  flex-direction: column;
  scroll-behavior: smooth;
  font-family: "Roboto", sans-serif;
}

a {
  text-decoration: none;
  color: var(--second-font-color);
  transition: 0.3s ease-in-out;
}
a:hover {
  color: var(--second-font-color-hover);
}
li {
  list-style: none;
}
ul {
  margin-bottom: 0 !important;
}
img,
canvas,
svg,
video,
picture {
  display: block;
  max-width: 100%;
}
button,
input,
textarea,
select {
  font: inherit;
}
p,
h1,
h2,
h3,
h4,
h5 {
  overflow-wrap: break-word;
}
h1,
h2,
h3,
h4,
h5 {
  line-height: 1.1;
  hyphens: auto;
}
/* btn */
.btn-outline-success {
  color: var(--second-font-color);
  border-color: var(--second-font-color);
}
.btn-outline-success:hover {
  color: var(--light-color);
  background-color: var(--second-font-color-hover);
}
.btn-second {
  background-color: var(--second-font-color-hover);
  color: var(--light-color);
  font-size: 1.1em;
  font-weight: bold;
  padding: 0.7em;
  transition: 0.3s ease-in-out;
}
/* header style*/
header {
  background-color: var(--second-bg-color);
}
.header-cont {
  max-width: 1435px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 3fr 8fr 2fr;
  padding: 1em 1.5em;
}
.space-mg {
  padding-block: 0.8rem;
}
.inputs-group > .form-control {
  border-top-left-radius: 7px;
  border-bottom-left-radius: 7px;
  border: 1px solid #e3e6ed;
  width: 220px !important;
}
.margin {
  margin-left: auto;
}
.logo-head {
  font-size: 1.7rem;
}
input.form-control:focus {
  box-shadow: none;
  border: 1.5px solid #e3e6ed;
  background-color: #f7f8fd;
  letter-spacing: 1px;
}
.input-group-append {
  margin-left: -1px;
}
.mg-ft {
  margin-left: 0.8rem;
}
@media only screen and (max-width: 1200px) {
  .header-cont {
    grid-template-columns: 3fr 5fr 2fr;
  }
  .logo-head {
    font-size: 1.4rem;
  }
  .inputs-group > .form-control {
    width: 170px !important;
  }
}
@media only screen and (max-width: 600px) {
  .header-cont {
    grid-template-columns: 4fr 3fr 2fr;
  }
  .logo-head {
    font-size: 1.3rem;
  }
  .inputs-group > .form-control {
    width: 120px !important;
  }
}
/*general style*/
.size-grid {
  display: grid;
  grid-template-columns: 2fr 10fr;
  flex-direction: column;
}
@media only screen and (max-width: 1200px) {
  .size-grid {
    grid-template-columns: 2fr 6fr;
  }
}
.sidebar {
  height: auto;
  padding: 1.5rem;
  background-color: var(--second-bg-color);
  color: var(--light-color);
}
.logo {
  height: 60px;
  width: 60px;
  margin-top: var(--margin-3);
  margin-bottom: 150px;
  margin-left: var(--nav-side-bar-margin-left);
}

@media only screen and (max-width: 1200px) {
  .logo {
    height: 40px;
    width: 40px;
  }
}
.dashboard {
  color: var(--light-color);
  min-height: calc(100vh - 63px - 144px);
  background-color: var(--dark-color);
  border-bottom-right-radius: var(--border-radius);
  padding: 1.5rem;
}
.content-task {
  flex: 2;
}
.page-title {
  margin: 1.5rem auto;
}

.link {
  text-align: right;
  text-decoration: underline;
}
.months {
  font-size: 1.1rem;
}
/*welcome page */
.image-cont {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.7)),
    url("../images/money-index3.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  min-height: 90vh;
  padding: 0.9em 7em;
  color: var(--light-color);
}

.container.full {
  width: 100%;
  height: 100%;
}

.grid-center {
  height: 100%;
  display: grid;
  justify-content: center;
  align-items: center;
  align-content: center;
}
.fosz {
  font-weight: bold;
  font-size: 1.3rem;
}
.fosz .fa {
  margin-left: 0.2rem;
}
@media only screen and (max-width: 600px) {
  .fosz {
    font-size: 1.1rem;
  }
}
/* main content */
.total {
  color: rgb(49, 161, 49);
  font-weight: bold;
  font-size: 1.3rem;
  display: flex;
  justify-content: end;
}
.form {
  gap: 1rem;
  margin-bottom: 2rem;
  flex-direction: column;
}
.form-cont {
  flex-direction: column;
}
.form-cont label {
  font-weight: bold;
  font-size: 1.05rem;
}
.date-input {
  padding: 0.4rem;
  border-radius: 5px;
}
.large {
  font-weight: bold;
  font-size: 1.1em;
}
.btn i {
  color: var(--light-color);
}
.form-cont {
  display: flex;
  gap: 1.5rem;
}
.title-head {
  margin-top: 0.5rem;
  margin-bottom: 1.6rem;
  font-weight: bold;
  text-align: center;
}
.main-content {
  gap: 1.7rem;
}

.flex-size {
  gap: 1.7rem;
  flex-wrap: wrap;
  margin-bottom: 1.5rem;
}
.flex-size > * {
  flex: 1 0 30%;
}
.pd-3 {
  padding: 1rem;
}
/* style cards */
.card {
  background-color: var(--second-bg-color);
  border-radius: 10px;
  box-shadow: 10px 10px 10px #151d28;
}
.flex {
  display: flex;
}
.gap-1-5 {
  gap: 1.5em;
}
/* .card-ds {
  box-shadow: var(--card-shadow);
} */
.between-space {
  justify-content: space-between;
}
.card-link {
  background-color: transparent;
  color: var(--second-font-color);
  border: none;
  text-decoration: underline;
}
.card-money {
  font-weight: bold;
  font-size: 1.1rem;
  margin-bottom: 0;
}
/* style page numbers*/
.pages {
  margin: 1.2rem auto;
}
.pages ul {
  display: flex;
  justify-content: center;
}
.pages ul li {
  font-size: 1.1rem;
  font-weight: bold;
  padding: 0.7rem;
  border: 1px solid #111;
  border-radius: 5px;
  margin-left: 0.6rem;
}
/* add task page */
.text-font {
  color: var(--light-color);
}
/* profile style */

.main-profile {
  padding-top: 1.5rem;
  position: relative;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--dark-color);
  color: var(--light-color);
}
.change-pass {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* position: relative; */
  /* width: 100%; */
  /* min-height: 100vh; */
}
.user-form {
  width: 600px;
  padding: 1.2em;
}
.user-info label {
  font-size: 1.1rem;
}
/* model */
.modal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.4rem;
  width: 450px;
  padding: 1.2rem;
  min-height: 340px;
  max-height: 420px;
  position: absolute;
  z-index: 2;
  top: 15%;
  left: 40%;
  background-color: white;
  border: 1px solid #ddd;
  border-radius: 15px;
}
.hidden {
  display: none;
}
.modal .flex-end {
  display: flex;
  align-items: center;
  justify-content: end;
}
.user-form input {
  padding: 0.6rem 1rem;
  border: 1px solid rgb(170, 170, 170);
  border-radius: 6px;
  font-size: 1rem;
}

.modal p {
  font-size: 0.9rem;
  color: #777;
  margin: 0.4rem 0 0.2rem;
}

button {
  cursor: pointer;
  border: none;
  font-weight: bold;
}
.btn-close {
  transform: translate(10px, -20px);
  padding: 0.5rem 0.7rem;
  background: #eee;
  border-radius: 50%;
  font-weight: bold;
}
.btn-open {
  color: #066efd;
  font-size: 1.1rem;
  text-decoration: underline;
  font-weight: bold;
}
.btn-modal {
  display: inline-block;
  padding: 0.7rem 1.3rem;
  font-weight: 700;
  background-color: black;
  color: var(--light-color);
  border-radius: 5px;
  text-align: center;
  font-size: 1em;
  margin-top: 0.5rem;
}
.form-group {
  padding: 0.4rem 0.2em;
  margin-inline: 0.6rem;
}
.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(3px);
  z-index: 1;
}
/* chart page */
.charset {
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.text-chart {
  margin-top: 1rem;
}
.cont-chart {
  position: relative;
  margin-top: 2rem;
}

.select-wrapper {
  width: 180px;
  margin-left: 50px;
  position: relative;
  display: flex;
  align-items: center;
}

.select-wrapper::before {
  position: absolute;
  content: "▼";
  font-size: var(--font-size-xs);
  right: 20px;
  color: var(--second-font-color);
}
#datepicker {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  border: none;
  outline: none;

  width: 100%;
  height: 40px;
  padding-left: 20px;
  border-radius: 20px;
  background-color: var(--second-bg-color);
  font-size: var(--font-size-xs);
  color: var(--first-font-color);
}

#datepicker option {
  color: #666;
  background-color: transparent;
}

.dashboard-cards {
  display: grid;
  width: 100%;
  grid-template-columns: 1fr 1fr 1fr;
  margin: 0 var(--dashboard-margin);
  padding-bottom: 2.5rem;
  padding: 2em 2em;
  gap: 2em;
}
.cont-chart.dashboard-cards {
  grid-template-columns: 1fr 1fr;
}
.card.card-flex {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0.7rem 1.5em;
}
.number {
  font-size: 1.8rem;
  font-weight: bold;
  color: var(--second-font-color);
}
.card-icon i {
  font-size: 1.8rem;
  color: var(--second-font-color);
}
.card-name {
  font-weight: bold;
}
.pr-foot {
  display: flex;
  justify-content: center;
  padding: 1.2em 0;
}

@media only screen and (max-width: 1200px) {
  .dashboard-cards {
    grid-template-columns: 1fr 1fr;
    padding: 1.5em 1em;
  }
}
@media only screen and (max-width: 790px) {
  .cont-chart.dashboard-cards {
    grid-template-columns: 1fr;
  }
}
@media only screen and (max-width: 640px) {
  .dashboard-cards {
    grid-template-columns: 1fr;
  }
}

/* footer style */
footer {
  margin-top: auto;
  background-color: #222;
}
.footer {
  padding: 2rem;
  text-align: center;
  color: var(--light-color);
}
@media (prefers-reduced-motion: reduce) {
  html,
  body {
    scroll-behavior: auto;
  }
  *,
  *::after,
  *::before {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto;
  }
}

@media (min-width: 1400px) {
  .container,
  .container-lg,
  .container-md,
  .container-sm,
  .container-xl,
  .container-xxl {
    max-width: 1420px !important;
  }
}
